p {
    margin: 0;
}

.yes {
    text-decoration: none;
    background-color: #8EC8F2;
    color: #F4FAFE;
    font-size: 24px;
    font-weight: 500;
    border-radius: 70px;

    width: 95px;
    height: 45px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 688px;
    height: 374px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question {
    padding: 0 70px;
    text-align: center;
    font-size: 28px;
}

.ryo {
    border-radius: 10px;
    user-select: none;
}

.answers {
    display: flex;
    gap: 100px;
}

.answers>button {
    background-color: #8EC8F2;
    color: #F4FAFE;
    font-size: 24px;
    font-weight: 500;
    border-radius: 70px;

    width: 95px;
    height: 45px;
    cursor: pointer;
}

.answers>button:hover {
    background-color: #a0d0f1;
}

.answers>button:active {
    background-color: #7eb7e0;
}

.no {
    position: relative;
}

.explode {
    display: none;
    position: absolute;
    left: 15%;
    top: -50%;
    user-select: none;
}